<div class="footer <%= "hidden" unless @todos.any? %>" data-target="todo-list.footer">
  <span class="todo-count" data-target="todo-list.activeNumber">
    <%= pluralize @todos.reject(&:completed).size, "item" %> left
  </span>
  <ul class="filters">
    <li>
      <%= link_to "All",
            root_path,
            data: { action: "click->todo-list#selectFilter", target: "todo-list.filter" },
            name: "all",
            class: "selected" %>
    </li>
    <li>
      <%= link_to "Active",
            root_path({completed: false}),
            name: "active",
            data: { action: "click->todo-list#selectFilter", target: "todo-list.filter" } %>
    </li>
    <li>
      <%= link_to "Completed",
            root_path({completed: true}),
            name: "completed",
            data: { action: "click->todo-list#selectFilter", target: "todo-list.filter" } %>
    </li>
  </ul>
    <button class="clear-completed <%= @todos.select(&:completed).count > 0 ? "" : "hidden" %>" data-action="todo-list#destroyAll" data-target="todo-list.clearCompleted">Clear completed</button>
</div>
