<div id="filters-actions" class="<%= "hidden" unless @todos.any? %>">
  <span id="todo-count" data-target="todo.activeNumber">
    <%= pluralize @todos.reject(&:completed).size, "item" %> left
  </span>
  <ul id="filters">
    <li>
      <%= link_to "All",
            root_path,
            data: { action: "todo#selectFilter", target: "todo.filter" },
            name: "all",
            class: "selected" %>
    </li>
    <li>
      <%= link_to "Active",
            root_path({completed: false}),
            name: "active",
            data: { action: "todo#selectFilter", target: "todo.filter" } %>
    </li>
    <li>
      <%= link_to "Completed",
            root_path({completed: true}),
            name: "completed",
            data: { action: "todo#selectFilter", target: "todo.filter" } %>
    </li>
  </ul>
  <%= render 'clear_completed' %>
</div>
