<%= form_with url: update_many_todos_path,
              method: :put,
              remote: true,
              id: "update_many_todos",
              data: { type: "html" },
              authenticity_token: true do %>

  <% @todos.map do |todo| %>
    <%= hidden_field_tag "ids[]", todo.id, id: nil %>
  <% end %>

  <%= hidden_field_tag "template_ids[]", nil, id: nil %>

  <%= completed_filter_field %>

  <%= check_box :todo, :completed, checked: @todos.any? && @todos.all?(&:completed),
                id: "toggle-all", data: { action: "todo#toggleAll" } %>
  <label for="toggle-all">Mark all as complete</label>
<% end %>
