<% cache todo do %>
  <li id="todos:<%= todo.id %>" class="<%= 'completed' if todo.completed %> hidden" data-target="todo.task" >
    <div class="view">
      <%= form_with model: todo, authenticity_token: true do |f| %>
        <%= f.check_box :completed, data: { action: "todo#toggle" }, class: "toggle" %>
        <%= completed_filter_field %>
      <% end %>
      
      <%= editable_field todo, :title %>

      <%= form_with model: todo,
                    authenticity_token: true,
                    method: "delete",
                    html: { class: "destroy_todo" },
                    data: {action: "todo#destroy"} do |f| %>

        <%= button_tag "", class: "destroy" %>
        <%= completed_filter_field %>
      <% end %>
    </div>
  </li>
<% end %>
