  <%= render 'aside' %>
  <div data-controller="todo-list" data-todo-list-toggleAll="<%= @todos.any? && @todos.all?(&:completed) %>">
    <div class="todoapp">
      <%= cache @todos do %>
      <%= render 'input' %>
      <div class="main">
        <%= render 'select_all' %>
        <ul class="todo-list">
          <%= render @todos, cached: true %>
        </ul>
      </div>
      <%= render 'filters' %>
      <% end %>
    </div>
    <%= render 'alert' %>
  </div>
