<div id="todoapp" data-controller="todo" data-todo-toggleAll="<%= @todos.any? && @todos.all?(&:completed) %>">
  <%= cache @todos do %>
    <%= render 'input' %>
    <div id="todos">
      <%= render 'select_all' %>
      <ul id="list-todos">
        <%= render @todos, cached: true %>
      </ul>
    </div>
    <%= render 'filters' %>
  <% end %>
</div>
