<!DOCTYPE html>
<html>
  <head>
    <title>A modest TodoMVC rails app boosted with Stimulus</title>
    <!--  inline css to get 100 at google page speed-->
    <% if Rails.env.production? %>
      <style>
        <%= raw File.read("public" + asset_pack_path("application.css")) %>
      </style>
    <% else %>
      <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <% end %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', async: Rails.env.production? %>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tags %>
  </head>

  <body class="learn-bar">

    <%= yield %>

    <div class="info" data-turbolinks-permanent>
      <h3>Double-click to edit a todo</h3>
      <h3>Created by <a href="https://github.com/adrienpoly">Adrien Poly</a></h3>
      <h3>Part of <a href="http://todomvc.com">TodoMVC</a></h3>
    </div>
  </body>

</html>
